* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;

}

body.dark-mode {
    background-color: #000;
    color: #fff;

}


.dark-mode {
    background-color: #333;
}
.dark-mode h1Pokedex.dark-text {
    color: white;

}
.dark-mode pokemonList

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
